<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sophomoreventure.collegeconnect">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="ANDROID.PERMISSION.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".Activities.SlideShowActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activities.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="Create Event" />
        <activity
            android:name=".EventView"
            android:label="Event"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.RegistrationActivity"
            android:label="Sign Up" />

        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MyEventsActivity"
            android:label="Events by Drishti"></activity>

        <service
            android:name=".Network.ServiceClass"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />


        <activity android:name=".EventsByClubActivity" />
        <activity
            android:name=".OtherEventView"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ClubListAtivity"
            android:label="Clubs" />
        <activity
            android:name=".ClubDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SparshEventListAtivity"
            android:label="Sparsh Events " />
        <activity
            android:name=".SparshEventActivity"
            android:label="Technical" />
        <activity
            android:name=".SparshEventView"
            android:theme="@style/AppTheme.NoActionBar" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".Activities.EventCalendar"
            android:label="@string/title_activity_event_calendar"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".NoticeBoardActivity"
            android:label="Notice board" />

        <activity android:name=".Activities.MyIntro"
            android:label="IntroClass" />


    </application>

</manifest>
